<section class="about">
  <div class="about__top">
    <div class="container">
      <h2 class="title">О компании</h2>
      <div class="about__body">
        <div class="about__content">
          <p>
            Компания «ГЕОАРХИКАД» успешно работает по всему Большому Сочи с 2016
            года. Мы предоставляем все виды проектных работ; геологические,
            геодезические исследования местности; подготовка документов для
            получения разрешения на строительство, оформление кадастровых
            работ. Обратившись в организацию за помощью, вы всегда можете
            рассчитывать на качественную консультацию. Мы всегда стараемся
            объяснить сложное простым языком. Сотрудники  «ГЕОАРХИКАД» ломают
            мифы о том, что качественные услуги в Сочи делаются долго и
            некачественно.   А наши главные правила при работе, - честность,
            качество, быстрое исполнение, и прозрачные условия работы, с
            заботой о заказчиках.
          </p>
        </div>
        <div class="about__experience">
          <p class="about__experience-item">
            <span class="about__number-small">более</span>
            <span class="about__number-big">1 400</span>
            <span class="about__text">Архитектурных<br>проектов</span>
          </p>
          <p class="about__experience-item">
            <span class="about__number-small">более</span>
            <span class="about__number-big"
              >36 500 <span class="about__number-small">п.м</span></span
            >
            <span class="about__text">земли мы<br>пробурили</span>
          </p>
          <p class="about__experience-item">
            <span class="about__number-small">более</span>
            <span class="about__number-big">1 200</span>
            <span class="about__text"
              >домов, для которых мы<br>зарегестрировали<br>право
              собственности
            </span>
          </p>
          <p class="about__experience-item">
            <span class="about__number-small">более</span>
            <span class="about__number-big">3000 га</span>
            <span class="about__text"
              >было охвачено для<br>топографической<br>съемки</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about__bot">
    <div class="container about__bot-inner">
      <div class="about__media">
        <div class="about__bot-title">Видео о нас</div>
        <div class="about__video">
          <video controls>
            <source src="./assets/video/top-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <form class="about__form">
        <p class="about__bot-title">Заказать звонок</p>
        <p class="about__form-accent">Консультация бесплатно</p>
        <input
          class="about__form-input"
          type="text"
          name="name"
          placeholder="Ваше имя"
        >
        <input
          class="about__form-input"
          type="tel"
          name="name"
          placeholder="Ваш номер телефона"
        >
        <label class="about__policy">
          <input type="checkbox" class="about__checkbox">
          <span class="about__checkbox-fake"></span>
          <span
            >Я ознакомлен и согласен с политикой обработки персональных данных,
            и даю согласие на обработку моих персональных данных
          </span>
        </label>
        <button class="about__form-submit">Перезвонить мне</button>
      </form>
    </div>
  </div>
</section>
