<section class="about">
  <div class="container">
    <h2 class="title">О компании</h2>
    <div class="about__body">
      <div class="about__content">
        <p>
          Компания «ГЕОАРХИКАД» успешно работает по всему Большому Сочи с 2016
          года. Мы предоставляем все виды проектных работ; геологические,
          геодезические исследования местности; подготовка документов для
          получения разрешения на строительство, оформление кадастровых
          работ. Обратившись в организацию за помощью, вы всегда можете
          рассчитывать на качественную консультацию. Мы всегда стараемся
          объяснить сложное простым языком. Сотрудники  «ГЕОАРХИКАД» ломают мифы
          о том, что качественные услуги в Сочи делаются долго и некачественно. 
           А наши главные правила при работе, - честность, качество, быстрое
          исполнение, и прозрачные условия работы, с заботой о заказчиках.
        </p>
      </div>
      <div class="about__experience">
        <p class="about__experience-item">
          <span class="about__number-top">более</span>
          <span class="about__number-bot">1 400</span>
          <span class="about__text">Архитектурных<br />проектов</span>
        </p>
        <p class="about__experience-item">
          <span class="about__number-top">более</span>
          <span class="about__number-bot">36 500 <span class="about__number-top">п.м</span></span>
          <span class="about__text">земли мы<br />пробурили</span>
        </p>
        <p class="about__experience-item">
          <span class="about__number-top">более</span>
          <span class="about__number-bot">1 200</span>
          <span class="about__text"
            >домов, для которых мы<br />зарегестрировали<br />право
            собственности
          </span>
        </p>
        <p class="about__experience-item">
          <span class="about__number-top">более</span>
          <span class="about__number-bot">3000 га</span>
          <span class="about__text"
            >было охвачено для<br />топографической<br />съемки</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
