<div class="about-top">
  <div class="container">
    <div class="about-top__body">
      <div class="about-top__content">
        <p>
          Компания «ГЕОАРХИКАД» успешно работает по всему Большому Сочи с 2016
          года. За время работы, компания реализовала более 1 400 архитектурных
          проектов, пробурили более 36 500 п.м земли, произвели топографическую
          съемку на территории более 3 000 га  и зарегистрировали право
          собственности более чем для 1 200 домов. 
        </p>
        <p>
          Мы предоставляем все виды проектных работ; геологические,
          геодезические исследования местности; подготовка документов для
          получения разрешения на строительство, оформление кадастровых
          работ. Обратившись в организацию за помощью, вы всегда можете
          рассчитывать на качественную консультацию. Мы всегда стараемся
          объяснить сложное простым языком.
        </p>
        <p>
          Сотрудники  «ГЕОАРХИКАД» ломают мифы о том, что качественные услуги в
          Сочи делаются долго и некачественно.
        </p>
        <p style="color: #cc1100;">
           А наши главные правила при работе, - честность, качество, быстрое
          исполнение, и прозрачные условия работы, с заботой о заказчиках.
        </p>
      </div>
    </div>
  </div>
</div>
