<section class="certificates">
    <div class="container">
        <h2 class="title">Документы и сертификаты</h2>
        <ul class="certificates__list">
            <li class="certificates__list-item">
                <img src="/img/certificates/list-1.png" alt="сертификат" class="certificates__list-img">
            </li>
            <li class="certificates__list-item">
                <img src="/img/certificates/list-2.png" alt="сертификат" class="certificates__list-img">
            </li>
        </ul>
        <div class="certificates__slider swiper">
            <ul class="swiper-wrapper certificates__slider-list">
                {{#repeat 6}}
                <li class="swiper-slide certificates__slider-slide">
                    <img class=" certificates__slider-img" src="/img/certificates/slider-1.jpg" alt="сертификат">
                </li>
                {{/repeat}}
            </ul>
            <button class="certificates__slider-prev" aria-label="Листать слайдер назад"></button>
            <button class="certificates__slider-next" aria-label="Листать слайдер вперёд"></button>
        </div>
    </div>
</section>