<div class="contacts">
  <div class="container">
    <div class="heading-row">
      <a
        class="heading-row__btn"
        href="./"
        aria-label="На главную"
        title="На главную"
      ></a>
      <h1 class="title-big">Свяжитесь с нами</h1>
    </div>
    <p class="contacts__address">
      <span class="contacts__address-pref">Наш адрес:</span>
      <span class=""
        >Сочи, Адлер, ул. СТаронасыпная, 22, Бц Плаза, офис 713</span
      >
    </p>
    <div class="contacts__main">
      <div class="contacts__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A4b386470ac1879e7cc75818e2205528fddd22eb5e40db1ddcecfbbed0c865ccf&amp;source=constructor"
          width="714"
          height="478"
          loading="lazy"
        ></iframe>
      </div>
      <div class="contacts__info">
        <p class="contacts__info-message">Звоните нам!</p>
        <a
          class="contacts__info-link contacts__info-link--phone"
          href="+79286660022"
          >+7 (928) 666-00-22</a
        >
        <a class="contacts__info-link" href="mailto:geoarhikad@mail.ru"
          >geoarhikad@mail.ru</a
        >
        <ul class="contacts__social">
          <li class="contacts__social-item">
            <a href="#" class="contacts__social-link">
              <img
                src="./img/icons/phone.svg"
                class="heaer__social-img"
                alt="Позвонить"
              >
            </a>
          </li>
          <li class="contacts__social-item">
            <a href="#" class="contacts__social-link">
              <img
                src="./img/icons/tg.svg"
                class="heaer__social-img"
                alt="Написать в телеграмм"
              >
            </a>
          </li>
          <li class="contacts__social-item">
            <a href="#" class="contacts__social-link">
              <img
                src="./img/icons/phone.svg"
                class="heaer__social-img"
                alt="Написать в whatsup"
              >
            </a>
          </li>
        </ul>
        <p class="contacts__info-time">С 09:00 до 18:00</p>
        <a
          href="https://yandex.ru/maps/?rtext=~43.426953,39.927764"
          class="contacts__info-btn"
          target="_blank"
          >Построить маршрут</a
        >
      </div>
    </div>
  </div>
   <div class="contacts__form">
        <div class="container contacts__form-inner">
            <div class="contacts__form-block">
              <p class="contacts__form-title">Нужна консультация?</p>
              <form class="contacts__form-elem">
                  <input class="contacts__form-input" type="text" name="name" placeholder="Ваше имя">
                  <input class="contacts__form-input" type="tel" name="name" placeholder="Ваш номер телефона">
                  <label class="contacts__form-policy">
                      <input type="checkbox" class="contacts__form-checkbox">
                      <span class="contacts__form-fake"></span>
                      <span>Я ознакомлен и согласен с политикой обработки персональных данных, и даю согласие на обработку моих персональных данных</span>
                  </label>
                  <button class="contacts__form-btn">Перезвонить мне</button>
              </form>
            </div>
        </div>
    </div>
</div>
