<section class="contacts">
    <div class="container">
        <h2 class="title contacts__title">Контакты</h2>
        <div class="contacts__body">
            <div class="contacts__map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4b386470ac1879e7cc75818e2205528fddd22eb5e40db1ddcecfbbed0c865ccf&amp;source=constructor" width="714" height="478" frameborder="0" loading="lazy"></iframe>
            </div>
            <div class="contacts__info">
                <p class="contacts__info-message">Звоните нам!</p>
                <a class="contacts__info-link contacts__info-link--phone" href="+79286660022">+7 (928) 666-00-22</a>
                <a class="contacts__info-link" href="mailto:geoarhikad@mail.ru">geoarhikad@mail.ru</a>
                <p class="contacts__info-address">Сочи, Адлер, ул. Старонасыпная 22, БЦ Плаза, офис 713</p>
                <a href="https://yandex.ru/maps/?rtext=~43.426953,39.927764" class="contacts__info-btn" target="_blank">Построить маршрут</a>
            </div>
        </div>
    </div>
</section>