<div class="contacts-form" id="contacts-form">
  <div class="container contacts-form__inner">
    <div class="contacts-form__block">
      <p class="contacts-form__title">Нужна консультация?</p>
      <form class="contacts-form__elem">
        <input
          class="contacts-form__input"
          type="text"
          name="name"
          placeholder="Ваше имя"
        >
        <input
          class="contacts-form__input"
          type="tel"
          name="name"
          placeholder="Ваш номер телефона"
        >
        <label class="contacts-form__policy">
          <input type="checkbox" class="contacts-form__checkbox">
          <span class="contacts-form__fake"></span>
          <span
            >Я ознакомлен и согласен с политикой обработки персональных данных,
            и даю согласие на обработку моих персональных данных</span
          >
        </label>
        <button class="contacts-form__btn">Перезвонить мне</button>
      </form>
    </div>
  </div>
</div>
