<ul class="filter">
  <li class="filter__item">
    <button class="filter__btn active">Все</button>
  </li>
  <li class="filter__item">
    <button class="filter__btn">Бурение на воду</button>
  </li>
  <li class="filter__item">
    <button class="filter__btn">Геодезические услуги</button>
  </li>
  <li class="filter__item">
    <button class="filter__btn">Геодезические услуги</button>
  </li>
  <li class="filter__item">
    <button class="filter__btn">Геодезические услуги</button>
  </li>
  <li class="filter__item">
    <button class="filter__btn">Бурение на воду</button>
  </li>
  <li class="filter__item">
    <button class="filter__btn">Бурение на воду</button>
  </li>
</ul>
