<div class="filter">
  <ul class="filter__track">
    <li class="filter__item">
      <a href="#" class="filter__btn active">Все</a>
    </li>
    <li class="filter__item">
      <a href="#" class="filter__btn">Бурение на воду</a>
    </li>
    <li class="filter__item">
      <a href="#" class="filter__btn">Геодезические услуги</a>
    </li>
    <li class="filter__item">
      <a href="#" class="filter__btn">Геодезические услуги</a>
    </li>
    <li class="filter__item">
      <a href="#" class="filter__btn">Геодезические услуги</a>
    </li>
    <li class="filter__item">
      <a href="#" class="filter__btn">Бурение на воду</a>
    </li>
    <li class="filter__item">
      <a href="#" class="filter__btn">Бурение на воду</a>
    </li>
  </ul>
</div>
