<section class="questions">
    <div class="container">
        <h2 class="title">
            Отвечаем на частые вопросы
        </h2>
        <div class="questions__items">
            <div class="questions__item">
                <p class="questions__item-title">
                    <button class="questions__item-btn active">Как заказать работы по бурению?</button>
                </p>
                <div class="questions__item-drop active">
                    <p class="questions__item-text">
                        Это можно сделать двумя способами: позвонить по телефонному номеру, указанному на нашем сайте, либо оставить заявку, заполнив специальную форму на сайте. Наши менеджеры свяжутся по предоставленным вами контактным данным.
                    </p>
                </div>
            </div>
            <div class="questions__item">
                <p class="questions__item-title">
                    <button class="questions__item-btn">Оформляется ли работа документально и как производится оплата?</button>
                </p>
                <div class="questions__item-drop">
                    <p class="questions__item-text">
                        Это можно сделать двумя способами: позвонить по телефонному номеру, указанному на нашем сайте, либо оставить заявку, заполнив специальную форму на сайте. Наши менеджеры свяжутся по предоставленным вами контактным данным.
                    </p>
                </div>
            </div>
            <div class="questions__item">
                <p class="questions__item-title">
                    <button class="questions__item-btn">Как получить консультацию по выбору места для бурения скважины?</button>
                </p>
                <div class="questions__item-drop">
                    <p class="questions__item-text">
                        Это можно сделать двумя способами: позвонить по телефонному номеру, указанному на нашем сайте, либо оставить заявку, заполнив специальную форму на сайте. Наши менеджеры свяжутся по предоставленным вами контактным данным.
                    </p>
                </div>
            </div>
            <div class="questions__item">
                <p class="questions__item-title">
                    <button class="questions__item-btn">Что делать , если у меня нет документов , для выполнения технического отчета по высотному согласованию строительства?</button>
                </p>
                <div class="questions__item-drop">
                    <p class="questions__item-text">
                        Это можно сделать двумя способами: позвонить по телефонному номеру, указанному на нашем сайте, либо оставить заявку, заполнив специальную форму на сайте. Наши менеджеры свяжутся по предоставленным вами контактным данным.
                    </p>
                </div>
            </div>
            <div class="questions__item">
                <p class="questions__item-title">
                    <button class="questions__item-btn">Как заказать технический отчёт по высотному согласованию строительства?</button>
                </p>
                <div class="questions__item-drop">
                    <p class="questions__item-text">
                        Это можно сделать двумя способами: позвонить по телефонному номеру, указанному на нашем сайте, либо оставить заявку, заполнив специальную форму на сайте. Наши менеджеры свяжутся по предоставленным вами контактным данным.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>