<div class="reviews-list">
  <article
    class="reviews-list__item reviews-list__item--wide reviews-list__item--row"
  >
    <div class="reviews-list__content reviews-list__block--hulf">
      <p class="reviews-list__text">
        Обратилась в "Геоархикад" за сложным комплексом услуг: разрешение на
        строительство, архитектурные работы. Ребята отзывчивые, помогли со всем,
        до сих пор продуктивно работаем, буду продолжать сотрудничество и в
        дальнейшем. Огромное спасибо!
      </p>
      <div class="reviews-list__info">
        <p class="reviews-list__rating">
          <span class="visually-hidden">5</span>
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
        </p>
        <p class="reviews-list__service">
          <span>Услуга 1</span>
          <span>услуга 2</span>
        </p>
        <h2 class="reviews-list__name">Владимир</h2>
      </div>
    </div>
    <div class="reviews-list__media reviews-list__block--hulf">
      <img
        class="reviews-list__media-img"
        src="./img/reviews-list-placeholder.svg"
        alt="фото отзыва"
        width="156"
      />
      <img
        class="reviews-list__media-img"
        src="./img/reviews-list-placeholder.svg"
        alt="фото отзыва"
        width="156"
      />
      <img
        class="reviews-list__media-img"
        src="./img/reviews-list-placeholder.svg"
        alt="фото отзыва"
        width="156"
      />
      <button class="reviews-list__media-video" data-url="./assets/video/bla-1.mp4" aria-label="Открыть видео" style="--video-preview: url('../img/top-bg-photo.jpg')"></button>
    </div>
  </article>
  <article class="reviews-list__item reviews-list__item--dark">
    <div class="reviews-list__content">
      <p class="reviews-list__text">
        Пробурили скважину, 43 метра глубиной, работает отлично. Летом
        прокачивали - не было перебоев. Мы рады, что обратились к этим ребятам,
        и они нам сделали все.
      </p>
      <div class="reviews-list__info">
        <p class="reviews-list__rating">
          <span class="visually-hidden">5</span>
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
        </p>
        <p class="reviews-list__service">название услуги</p>
        <h2 class="reviews-list__name">Владимир</h2>
      </div>
    </div>
  </article>
  <article
    class="reviews-list__item reviews-list__item--tall reviews-list__item--dark"
  >
    <div class="reviews-list__content">
      <p class="reviews-list__text">
        Возникла необходимость пробурить скважину, обратились в "Геоархикад",
        были впечатлены работой: ребята приехали на площадку и дали свое
        заключение, мы договорились о стоимости. Все вовремя, без изменений
        стоимости. Она работает бесперебойно, мои лучшие рекомендации компании.
        заключение, мы договорились о стоимости. Все вовремя, без изменений
        стоимости. Она работает бесперебойно, мои лучшие рекомендации компании.
      </p>
      <div class="reviews-list__info">
        <p class="reviews-list__rating">
          <span class="visually-hidden">5</span>
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
        </p>
        <div class="reviews-list__media reviews-list__media--info">
          <button class="reviews-list__media-video" data-url="./assets/video/bla-2.mp4"></button>
        </div>
        <p class="reviews-list__service">название услуги</p>
        <h2 class="reviews-list__name">Владимир</h2>
      </div>
    </div>
  </article>
  <article
    class="reviews-list__item reviews-list__item--wide reviews-list__item--row"
  >
    <div class="reviews-list__content">
      <p class="reviews-list__text">
        Обратилась в "Геоархикад" за сложным комплексом услуг: разрешение на
        строительство, архитектурные работы. Ребята отзывчивые, помогли со всем,
        до сих пор продуктивно работаем, буду продолжать сотрудничество и в
        дальнейшем. Огромное спасибо!
      </p>
      <div class="reviews-list__info">
        <p class="reviews-list__service">название услуги</p>
        <h2 class="reviews-list__name">Владимир</h2>
      </div>
    </div>
    <div class="reviews-list__media">
      <button class="reviews-list__media-video"></button>
      <p class="reviews-list__rating">
        <span class="visually-hidden">5</span>
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
      </p>
    </div>
  </article>
  <article
    class="reviews-list__item reviews-list__item--wide reviews-list__item--row"
  >
    <div class="reviews-list__content">
      <p class="reviews-list__text">
        Обратилась в "Геоархикад" за сложным комплексом услуг: разрешение на
        строительство, архитектурные работы. Ребята отзывчивые, помогли со всем,
        до сих пор продуктивно работаем, буду продолжать сотрудничество и в
        дальнейшем. Огромное спасибо!
      </p>
      <div class="reviews-list__info">
        <p class="reviews-list__service">название услуги</p>
        <h2 class="reviews-list__name">Владимир</h2>
      </div>
    </div>
    <div class="reviews-list__media">
      <img
        class="reviews-list__media-img reviews-list__media-img--full"
        src="./img/reviews-list-placeholder.svg"
        alt="фото отзыва"
        width="156"
      />
      <p class="reviews-list__rating">
        <span class="visually-hidden">5</span>
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
        <img
          class="reviews-list__rating-img"
          src="./img/icons/star-fill-full.svg"
          alt=""
        />
      </p>
    </div>
  </article>
  <article class="reviews-list__item">
    <div class="reviews-list__content">
      <p class="reviews-list__text">
        Возникла необходимость пробурить скважину, обратились в "Геоархикад",
        были впечатлены работой: ребята приехали на площадку и дали свое
        заключение, мы договорились о стоимости. Все вовремя, без изменений
        стоимости. Она работает бесперебойно, мои лучшие рекомендации компании.
      </p>
      <div class="reviews-list__info">
        <p class="reviews-list__rating">
          <span class="visually-hidden">5</span>
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
        </p>
        <p class="reviews-list__service">название услуги</p>
        <h2 class="reviews-list__name">Владимир</h2>
      </div>
    </div>
  </article>
  <article
    class="reviews-list__item reviews-list__item--wide reviews-list__item--dark reviews-list__item--row"
  >
    <div class="reviews-list__content">
      <p class="reviews-list__text">
        Обратилась в "Геоархикад" за сложным комплексом услуг: разрешение на
        строительство, архитектурные работы. Ребята отзывчивые, помогли со всем,
        до сих пор продуктивно работаем, буду продолжать сотрудничество и в
        дальнейшем. Огромное спасибо!
      </p>
      <div class="reviews-list__info">
        <p class="reviews-list__rating">
          <span class="visually-hidden">5</span>
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
          <img
            class="reviews-list__rating-img"
            src="./img/icons/star-fill-full.svg"
            alt=""
          />
        </p>
        <p class="reviews-list__service">название услуги</p>
        <h2 class="reviews-list__name">Владимир</h2>
      </div>
    </div>
    <div class="reviews-list__media">
      <button class="reviews-list__media-video"></button>
      <img
        class="reviews-list__media-img"
        src="./img/reviews-list-placeholder.svg"
        alt="фото отзыва"
        width="156"
      />
    </div>
  </article>
</div>
