<div class="service-explanation">
  <div class="container service-explanation__inner">
    <div class="service-explanation__items">
      <div class="service-explanation__item">
        <p class="service-explanation__title title">
          Для чего это необходимо согласовывать строительство в приаэродромной
          территории?
        </p>
        <ul class="service-explanation__list">
          <li class="service-explanation__list-elem">
            Исключение рисков помех при взлете и посадке воздушного транспорта.
          </li>
          <li class="service-explanation__list-elem">
            Обеспечение безопасности людей.
          </li>
          <li class="service-explanation__list-elem">
            Для регистрации права собственности, в виде приложения к техническому плану
          </li>
        </ul>
      </div>
      <div class="service-explanation__item">
        <p class="service-explanation__title title">
          Какие объекты необходимо согласоввать?
        </p>
        <ul class="service-explanation__list">
          <li class="service-explanation__list-elem">
            Здания капитального строительства.
          </li>
          <li class="service-explanation__list-elem">
            Объекты при незавершенном капитальном строительстве.
          </li>
          <li class="service-explanation__list-elem">
            Линейные объекты: ж/д магистрали, трубопроводы и т. п.
          </li>
        </ul>
      </div>
    </div>
    <p class="service-explanation__descr">
        В компании «ГеоАрхиКад» можно получить консультационные услуги, по результатам которых можно узнать о возможных препятствиях в согласовании проекта. Для получения комплексного сервиса по сопровождению сделки необходимо заключить договор. Выполнение Технического отчета по высотному согласованию строительства или регистрации в росреестре объекта недвижимости (ранее назывался Согласование с Росавиацией) — сложный процесс, который требует профессионального подхода.
    </p>
  </div>
</div>
