<article class="service-plan service-plan--decor">
  <div class="container">
    <h2 class="service-plan__title">
      Технический план объекта капитального строительства.
    </h2>
    <div class="service-plan__text">
      <p>
        для постановки на кадастровый учет и последующей регистрации права
        собственности.
      </p>
      <p>
        Технический план - это документ, в котором отражается основная
        информация об объекте капитального строительства: площадь, количество
        комнат, положение относительно других строений, кадастровый номер , а
        также другие сведения
      </p>
      <p>
        В Технический план входит текстовая и графическая часть описания
        недвижимости.
      </p>
    </div>
    <div class="service-plan__items">
      {{# repeat 2}}
      <div class="service-plan__item">
        <p class="service-plan__item-title">Графическая часть плана</p>
        <div class="service-plan__item-content">
          <ul>
            <li>схема расположения объекта недвижимости;</li>
            <li>схема геодезических построений;</li>
            <li>чертеж контура объекта недвижимости;</li>
            <li>поэтажные планы;</li>
          </ul>
        </div>
        <p class="service-plan__item-price">Стоимость: 15 000 руб.</p>
      </div>
      {{/ repeat}}
      <div class="service-plan__item service-plan__item--big">
        <p class="service-plan__item-title">Графическая часть плана</p>
        <div class="service-plan__item-content">
          <p>
            Это способ образования земельных участков, в результате которого
            исходный земельный участок, находящийся в собственности, прекращает
            свое существование и образуется новый земельный участок, право
            собственности на который возникает в соответствии с соглашением о
            перераспределении. Проводится с учетом особенности градостроительных
            зон и вида разрешенного использования.
          </p>
        </div>
        <p class="service-plan__item-price">Стоимость: 15 000 руб.</p>
      </div>
      {{# repeat 2}}
      <div class="service-plan__item">
        <p class="service-plan__item-title">Графическая часть плана</p>
        <p class="service-plan__item-price">Стоимость: 15 000 руб.</p>
      </div>
      {{/ repeat}}
    </div>
  </div>
</article>
<article class="service-plan">
  <div class="container">
    <h2 class="service-plan__title">
      Межевой план
    </h2>
    <div class="service-plan__text">
      <p>
        для постановки на кадастровый учет и последующей регистрации права
        собственности.
      </p>
      <p>
        Технический план - это документ, в котором отражается основная
        информация об объекте капитального строительства: площадь, количество
        комнат, положение относительно других строений, кадастровый номер , а
        также другие сведения
      </p>
      <p>
        В Технический план входит текстовая и графическая часть описания
        недвижимости.
      </p>
    </div>
    <div class="service-plan__items">
      {{# repeat 2}}
      <div class="service-plan__item">
        <p class="service-plan__item-title">Графическая часть плана</p>
        <div class="service-plan__item-content">
          <ul>
            <li>схема расположения объекта недвижимости;</li>
            <li>схема геодезических построений;</li>
            <li>чертеж контура объекта недвижимости;</li>
            <li>поэтажные планы;</li>
          </ul>
        </div>
        <p class="service-plan__item-price">Стоимость: 15 000 руб.</p>
      </div>
      {{/ repeat}}
      <div class="service-plan__item service-plan__item--big">
        <p class="service-plan__item-title">Графическая часть плана</p>
        <div class="service-plan__item-content">
          <p>
            Это способ образования земельных участков, в результате которого
            исходный земельный участок, находящийся в собственности, прекращает
            свое существование и образуется новый земельный участок, право
            собственности на который возникает в соответствии с соглашением о
            перераспределении. Проводится с учетом особенности градостроительных
            зон и вида разрешенного использования.
          </p>
        </div>
        <p class="service-plan__item-price">Стоимость: 15 000 руб.</p>
      </div>
      {{# repeat 2}}
      <div class="service-plan__item">
        <p class="service-plan__item-title">Графическая часть плана</p>
        <p class="service-plan__item-price">Стоимость: 15 000 руб.</p>
      </div>
      {{/ repeat}}
    </div>
  </div>
</article>
