<div class="service-form">
  <div class="container">
    <p>
      Бесплатно выедем на ваш участок, подберем место для скважины и рассчитаем
      стоимость
    </p>
    <ul>
      <li>
        <p>
          <img src="./img/service-form-decor-1.svg" alt="">
          10 лет обучения
        </p>
      </li>
      <li>
        <p>
          <img src="./img/service-form-decor-2.svg" alt="">
          Заключаем договор
        </p>
      </li>
      <li>
        <p>
          <img src="./img/service-form-decor-3.svg" alt="">
          Бурим за 2 дня
        </p>
      </li>
    </ul>
  </div>
</div>
