<div class="service-prices">
  <div class="container service-prices__inner">
    <article class="service-prices__item">
      <div class="service-prices__view">
        <div class="service-prices__pic">
          <img
            src="./img/services/service-arcticle.jpg"
            alt="Фото под услуги"
            class="service-prices__img"
          >
          <h2 class="service-prices__title">Топографическая съемка</h2>
        </div>
        <div class="service-prices__view-descr">
          <p>
            Топографическая съемка - это процесс переноса рельефа конкретного
            земельного участка на бумагу и/или в компьютер.
          </p>
          <p>
            Целью топографической съемки является получение топографической 
            карты местности.
          </p>
        </div>
      </div>
      <div class="service-prices__content">
        <p class="service-prices__content-descr">
          опографическая съемка участка потребуется :
        </p>
        <ul class="service-prices__content-list">
          <li class="service-prices__content-item">
            для планировки земельного участка;
          </li>
          <li class="service-prices__content-item">
            для разработки качественных Архитектурных и Конструктивных решений;
          </li>
          <li class="service-prices__content-item">
            для подведение к земельному участку любых видов
            инженерно-технических коммуникаций, включая водо- и газопровод,
            электричество, теплосеть или телефонную связь;
          </li>
          <li class="service-prices__content-item">
            для подведение к земельному участку любых видов
            инженерно-технических коммуникаций, включая водо- и газопровод,
            электричество, теплосеть или телефонную связь;
          </li>
          <li class="service-prices__content-item">
            для привязки к местности строящегося объекта;
          </li>
          <li class="service-prices__content-item">
            для проведение земляных работ (например, для вычисления точного
            объема предстоящих работ);
          </li>
          <li class="service-prices__content-item">
            для ландшафтного дизайна;
          </li>
          <li class="service-prices__content-item">
            для получения технических условий;
          </li>
        </ul>
        <p class="service-prices__content-price">Стоимость: от 11 000 руб.</p>
      </div>
    </article>
    {{#repeat 3}}
    <article class="service-prices__item">
      <div class="service-prices__view">
        <div class="service-prices__pic">
          <img
            src="./img/services/service-arcticle-small.jpg"
            alt="Фото под услуги"
            class="service-prices__img"
          >
          <h2 class="service-prices__title">
            Топографическая съемка с согласованием в архитектуре
          </h2>
        </div>
      </div>
      <div class="service-prices__content">
        <p class="service-prices__content-descr">
          опографическая съемка участка потребуется :
        </p>
        <ul class="service-prices__content-list">
          <li class="service-prices__content-item">
            для планировки земельного участка;
          </li>
          <li class="service-prices__content-item">
            для разработки качественных Архитектурных и Конструктивных решений;
          </li>
        </ul>
        <p class="service-prices__content-price">Стоимость: от 22 000 руб.</p>
      </div>
    </article>
    {{/repeat}}
  </div>
</div>
