<div class="services">
  <div class="services__inner">
    <article class="services__elem">
      <h2 class="services__elem-title active">
        <button class="services__btn">
            <span class="services__btn-decor">
                Геодезические услуги
            </span>
        </button>
      </h2>
      <div class="services__elem-drop active">
        <div class="container services__elem-body">
            <img class="services__elem-img" src="./img/services/elem-1.jpg" alt="">
            <div class="services__elem-content">
              <p>
                Инженеры-геодезисты компании ГЕОАРХИКАД - дипломированные специалисты,
                с опытом работы на территории Сочи свыше 7ми лет, знающие все
                особенности местных рельефов. Мы являемся членами Национального
                реестра специалистов НОПРИЗ.
              </p>
              <p>
                Наши специалисты используют поверенное геодезическое оборудование
                ведущих производителей.
              </p>
              <div class="services__elem-row">
                <a class="services__elem-btn services__elem-btn--red" href="#">Узнать подробнее</a>
                <button class="services__elem-btn services__elem-btn-white">Заказать услугу</button>
              </div>
            </div>
          </div>
      </div>
    </article>
    {{#repeat 5}}
    <article class="services__elem">
      <h2 class="services__elem-title">
        <button class="services__btn">
            <span class="services__btn-decor">
                Геодезические услуги
            </span>
        </button>
      </h2>
        <div class="services__elem-drop">
          <div class="container services__elem-body">
              <img class="services__elem-img" src="./img/services/elem-1.jpg" alt="">
              <div class="services__elem-content">
                <p>
                  Инженеры-геодезисты компании ГЕОАРХИКАД - дипломированные специалисты,
                  с опытом работы на территории Сочи свыше 7ми лет, знающие все
                  особенности местных рельефов. Мы являемся членами Национального
                  реестра специалистов НОПРИЗ.
                </p>
                <p>
                  Наши специалисты используют поверенное геодезическое оборудование
                  ведущих производителей.
                </p>
                <div class="services__elem-row">
                  <a class="services__elem-btn services__elem-btn--red" href="#">Узнать подробнее</a>
                  <button class="services__elem-btn services__elem-btn-white">Заказать услугу</button>
                </div>
              </div>
            </div>
        </div>
      </article>
      {{/repeat}}
  </div>
</div>
