<div class="service-certificates">
    <div class="container service-certificates__inner">
        <button class="service-certificates__btn-next" aria-label="перейти на слайд"></button>
        <button class="service-certificates__btn-prev" aria-label="перейти на слайд"></button>
        <div class="service-certificates__slider swiper">
            <ul class="swiper-wrapper service-certificates__slider-list">
                {{#repeat 4}}
                <li class="swiper-slide service-certificates__slider-item">
                    <img class="service-certificates__slider-img" src="./img/certificates/slider-1.jpg" alt="Сертиффикат">
                </li>
                {{/repeat}}
            </ul>
        </div>
    </div>
</div>