<div class="steps {{ class }}">
  <p class="steps__descr">Как подготовиться к строительству дома?</p>
  <div class="steps__list">
    <div class="steps__item">
      <p class="steps__item-num">1 этап</p>
      <ul class="steps__item-list">
        <li>
          <a class="active" href="./service-page.html">Бурение на воду</a>
        </li>
        <li>
          <a href="./service-page.html">Геологические услуги</a>
        </li>
        <li>
          <a href="./service-page.html">Геодезические услуги</a>
        </li>
      </ul>
    </div>
    <div class="steps__item">
      <p class="steps__item-num">2 этап</p>
      <ul class="steps__item-list">
        <li>
          <a href="./service-page.html">Разрешение на строитеьство</a>
        </li>
        <li>
          <a href="./service-page.html">Проектные работы</a>
        </li>
      </ul>
    </div>
    <div class="steps__item">
      <p class="steps__item-num">3 этап</p>
      <ul class="steps__item-list">
        <li>
          <a href="./service-page.html">РосАвиация</a>
        </li>
        <li>
          <a href="./service-page.html">адастровые услуги</a>
        </li>
      </ul>
    </div>
  </div>
</div>
