<section class="team">
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <div class="team__list">
      {{#repeat 6}}
      <article class="team__list-item">
        <div class="team__list-pic">
          <img
            class="team__list-img"
            src="./img/team-placeholder.svg"
            alt="Член команды"
          >
        </div>
        <h3 class="team__list-title">Имя Фамилия</h3>
        <p class="team__list-descr">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
          felis, ultricies nec.
        </p>
      </article>
      {{/repeat}}
    </div>
  </div>
</section>
