{{> header-index}}
<div class="top">
  <div class="container top__inner">
    <div class="top__content">
      <h1 class="top__title">
        Профессиональные<br>геодезические<br>и&nbsp;кадастровые<br>услуги
      </h1>
      <p class="top__descr">Как подготовиться к строительству дома?</p>
      <div class="top__steps">
        <div class="top__step">
            <p class="top__step-num">1 этап</p>
            <ul class="top__step-list">
                <li>Бурение на воду</li>
                <li>Геологические услуги</li>
                <li>Геодезические услуги</li>
            </ul>
        </div>
        <div class="top__step">
          <p class="top__step-num">2 этап</p>
          <ul class="top__step-list">
              <li>Разрешение на строитеьство</li>
              <li>Проектные работы</li>
          </ul>
      </div>
      <div class="top__step">
        <p class="top__step-num">3 этап</p>
        <ul class="top__step-list">
            <li>РосАвиация</li>
            <li>Кадастровые услуги</li>
        </ul>
    </div>
      </div>
    </div>
    <div class="top__btns">
      <div class="top__bot">
        <button class="top__btn-colsunctation">Получить бесплатную консультацию</button>
      </div>
      <button class="top__btn-service">Выбрать услугу</button>
    </div>
  </div>
</div>