{{> header-index}}
<div class="top">
  <div class="container">
    <div class="top__content">
      <h1 class="top__title">
        Профессиональные<br>геодезические<br>и&nbsp;кадастровые<br>услуги
      </h1>
      <p class="top__descr">Как подготовиться к строительству дома?</p>
      <div class="top__steps">
        <div class="top__step">
            <p class="top__step-num">1 этап</p>
            <ul class="top__step-list">
                <li>Бурение на воду</li>
                <li>Геологические услуги</li>
                <li>Геодезические услуги</li>
            </ul>
        </div>
        <div class="top__step">
          <p class="top__step-num">2 этап</p>
          <ul class="top__step-list">
              <li>Разрешение на строитеьство</li>
              <li>Проектные работы</li>
          </ul>
      </div>
      <div class="top__step">
        <p class="top__step-num">3 этап</p>
        <ul class="top__step-list">
            <li>РосАвиация</li>
            <li>Кадастровые услуги</li>
        </ul>
    </div>
      </div>
    </div>
    <div class="top__btns">
      <div class="top__bot">
        <a href="./contacts.html#contacts-form" class="top__btn-colsunctation">Получить бесплатную консультацию</a>
      </div>
      <a href="./services.html" class="btn-red top__btn-service">Выбрать услугу</a>
    </div>
    <div class="top__list">
      <div class="top__list-item">
        <img class="top__list-img" src="./img/top-list-1.svg" alt="">
        <p class="top__list-title">10+ лет опыта</p>
        <p class="top__list-descr">Более 1000 проектов выполнено.</p>
      </div>
      <div class="top__list-item">
        <img class="top__list-img" src="./img/top-list-2.svg" alt="">
        <p class="top__list-title">Гарантия<br>качества</p>
        <p class="top__list-descr">Используем сертифицированные материалы</p>
      </div>
      <div class="top__list-item">
        <img class="top__list-img" src="./img/top-list-3.svg" alt="">
        <p class="top__list-title">Команда профессионалов</p>
        <p class="top__list-descr">Высокая квалификация сотрудников</p>
      </div>
      <div class="top__list-item">
        <img class="top__list-img" src="./img/top-list-4.svg" alt="">
        <p class="top__list-title">Собственный автопарк</p>
        <p class="top__list-descr">Оперативное выполнение работ</p>
      </div>
      <div class="top__list-item">
        <img class="top__list-img" src="./img/top-list-5.svg" alt="">
        <p class="top__list-title">Онлайн-запись</p>
        <p class="top__list-descr">Удобное расписание, свободные даты</p>
      </div>
    </div>
  </div>
</div>