@use "mixin";

.about-top {
  padding-bottom: 50px;
  &__top-text {
    margin: 0;
    font-family: "Wadik", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #0a2d36;
  }

  &__red-text {
    margin: 20px 0px 0px;
    color: #cc1100;
    font-family: "Wadik", sans-serif;
    font-weight: 700;
    font-size: 40px;
  }

  &__content {
    padding-top: 35px;
    @include mixin.roboto-flex;
    font-size: 18px;
  }
}
