@use "mixin";

.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  padding: 55px 24px;
  display: none;
  background-image: url(../img/contacts-form-decor.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

  &.active {
    display: flex;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/icons/close-circle.svg");

    &:focus-visible {
      outline-offset: 2px;
      outline: 2px solid #0b2f38;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__inner {
    margin: auto;
  }

  &__title {
    color: #c10;
    font-family: Wadik, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }

  &__menu {
    text-align: center;
    @include mixin.reset-list;

    & li {
      padding: 5px 0;
    }

    & a {
      text-decoration: none;
      color: #0c3835;
      font-family: "Wadik", sans-serif;
      font-weight: 700;
      font-size: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__elem {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 700px;
    background-color: #0b2f38;
    color: #fff;
    border-radius: 35px;
    padding: 50px 70px;
  }

  &__input {
    border: 1px solid #fff;
    padding: 20px 27px;
    border-radius: 35px;
    background-color: transparent;
    color: #fff;
    @include mixin.roboto-flex;
    font-weight: 500;
    font-size: 16px;

    &[readonly] {
      background-color: #0c3835;
      color: #c7cbc3;
      pointer-events: none;
    }

    &::placeholder {
      color: #d9d9d9;
    }

    &:focus {
      outline: 1px solid #fff;
      outline-offset: 2px;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: #fff !important;
      transition: background-color 9999s ease-out, color 9999s ease-out;
    }
  }

  &__policy {
    @include mixin.roboto-flex;
    font-weight: 500;
    margin: 0;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  &__fake {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid #cc1100;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
  }

  &__checkbox:checked + &__fake {
    background-color: #cc1100;
    background-image: url("../img/icons/check.svg");
  }

  &__checkbox:focus + &__fake {
    outline-offset: 2px;
    outline: 1px solid #fff;
  }

  &__submit {
    @include mixin.roboto-flex;
    font-weight: 600;
    border: none;
    background-color: #fff;
    color: #0b2f38;
    padding: 15px;
    border-radius: 45px;

    &:focus-visible {
      outline-offset: 2px;
      outline: 1px solid #fff;
    }

    &:hover {
      color: #cc1100;
    }
  }
}

.popup-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  padding: 55px 24px;
  display: none;
  background-image: url(../img/contacts-form-decor.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

  &.active {
    display: flex;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/icons/close-circle.svg");

    &:focus-visible {
      outline-offset: 2px;
      outline: 2px solid #0b2f38;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__inner {
    width: 100%;
    max-width: 600px;
    margin: auto;
    align-self: flex-start;

    & video {
      width: 100%;
      border-radius: 15px;
      margin: auto;
      display: block;
    }
  }
}
