@font-face {
  font-family: "Wadik";
  src: url("../fonts/WadikBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adamina";
  src: url("../fonts/Adamina-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 16px;
  line-height: 1.3;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-family: "Wadik", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}
