@media (max-width: 1260px) {
  .header {
    &__btns {
      margin-right: 0;
    }
  }
  .top {
    &__decor {
      margin: 0;
    }

    &__content {
      padding-top: 20px;
      &::before {
        display: none;
      }
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    &__list-item {
      width: 270px;
    }
  }

  .footer {
    &__social {
      margin-left: 20px;
    }

    &__info {
      display: block;
      margin-right: 20px;
    }

    &__social {
      margin: 20px 0 0 0;
    }

    &__services {
      margin: 0 auto;
    }

    &__scroll-up {
      margin-left: 20px;
    }
  }

  .services {
    &__elem-img {
      width: 380px;
    }
  }

  .projects {
    padding: 50px 0;

    &__item-btn {
      margin: auto 24px 0;
      padding: 15px;
      width: calc(100% - 48px);
      text-align: center;
    }
  }

  .about {
    &__body {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__experience {
      margin-top: 0;
    }

    &__content {
      font-size: 18px;
    }

    &__experience-item {
      min-height: unset;
    }

    &__number-big {
      font-size: 28px;
      margin-bottom: 15px;
    }

    &__bot-inner {
      gap: 30px;
      flex-direction: column;
      align-items: center;
    }

    &__media {
      width: 100%;
      max-width: 900px;
    }

    &__form {
      width: 100%;
      max-width: 600px;
    }

    &__bot-title,
    &__title,
    &__form-accent {
      text-align: center;
    }
  }

  .contacts {
    &__main {
      gap: 40px;
      grid-template-columns: 614fr 379fr;
    }

    &__map {
      min-width: 0;
      max-width: 100%;
    }

    &__info-message {
      margin-top: 0;
    }

    &__info-address {
      margin-top: 0;
    }

    &__address {
      display: block;
      font-size: 24px;
    }
  }

  .services-list {
    &__item {
      gap: 24px;
      padding: 0 24px;
      min-height: 350px;
    }

    &__body {
      padding: 24px 0;
    }

    &__content {
      font-size: 16px;
    }

    &__title {
      margin-bottom: 0;
    }

    &__price {
      margin-bottom: 24px;
    }
  }

  .title-big {
    font-size: 36px;
  }

  .service-page {
    &__top {
      font-size: 16px;
    }

    &__img {
      max-width: unset;
      width: 25%;
    }

    &__bot {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__info-descr {
      font-size: 16px;
    }
  }

  .service-stages {
    &__list {
      margin-top: 30px;
      flex-wrap: wrap;
      gap: 20px 0;
    }

    &__item {
      &::before {
        font-size: 18px;
        display: block;
        margin-bottom: 8px;
      }
    }

    &__text {
      font-size: 16px;
      padding-top: 20px;

      &::before {
        height: 14px;
        width: 14px;
      }
    }
  }

  .service-form {
    &__inner {
      gap: 40px;
    }

    &__info-text {
      font-size: 22px;
    }

    &__elem-title {
      margin-bottom: 24px;
    }

    &__elem-policy {
      font-size: 14px;
    }

    &__elem-fake {
      width: 20px;
      height: 20px;
    }
  }

  .request-form {
    background-position: top left -358px;
    background-color: #a7a1a5;
  }

  .service-certificates {
    padding-top: 50px;
    position: relative;

    &__btn-next,
    &__btn-prev {
      top: 0;
      left: unset;
      transform: unset;
      z-index: 2;
    }

    &__btn-next {
      right: 15px;
    }

    &__btn-prev {
      right: 90px;
    }

    &__slider {
      padding-top: 70px;
      margin: 0;
    }
  }

  .related-services {
    padding-top: 50px;

    &__list {
      margin-top: 30px;
    }
  }

  .service-prices {
    &__item {
      grid-template-columns: 40fr 60fr;
    }

    &__title {
      font-size: 20px;
    }
  }

  .news-list {
    &__title {
      font-size: 28px;
    }
  }

  .contacts-form {
    padding: 50px 0;
  }

  .porfolio {
    &__descr-bot {
      margin: 15px 0;
    }
  }

  .porfolio-list {
    padding-top: 25px;

    &__item {
      padding: 40px 24px;
      border-radius: 25px;
    }

    &__view {
      margin-right: 24px;
    }

    &__btn {
      width: 54px;
      height: 50px;
      border-radius: 15px;
      background-size: 30px auto;
    }
  }

  .about-top {
    &__top-text {
      margin-top: 0;
    }
  }

  .results {
    padding: 50px 0;

    &__title {
      margin-bottom: 20px;
    }

    &__list {
      gap: 0px;
      display: block;
    }

    &__list-item {
      width: 100%;
      display: block;
    }

    &__list-text {
      font-size: 18px;

      & br {
        display: none;
      }

      &--big {
        color: #c10;
      }
    }
  }
}

@media (max-width: 1100px) {
  .filter {
    position: relative;
    margin: 0 -20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 75px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      pointer-events: none;
    }

    color: rgb(10, 43, 52);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 75px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      pointer-events: none;
    }

    &__track {
      flex-wrap: nowrap;
      padding: 0 20px;
      gap: 15px;
      overflow-x: auto;
      cursor: grab;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__btn {
      white-space: nowrap;

      &:hover {
        z-index: 1;
        position: relative;
      }
    }
  }

  .news-list {
    grid-template-columns: 1fr 1fr;

    &__item {
      &--big {
        grid-column: unset;
        flex-direction: column;
      }
    }

    &__item--big &__pic {
      max-width: unset;
      margin-right: 0;
    }

    &__title {
      font-size: 28px;
      margin: 15px 0;
    }

    &__item--big &__title {
      margin: 15px 0;
    }
  }

  .porfolio-list {
    &__item {
      padding: 40px 24px;
      border-radius: 24px;
    }

    &__pic {
      width: 300px;
      margin-top: auto;
      margin-bottom: 24px;
    }

    &__link {
      margin-top: 0px;
    }
  }

  .porfolio-item {
    &__top {
      flex-direction: column;
    }

    &__pic {
      max-width: 600px;
    }

    &__top-list {
      max-width: 600px;
    }

    &__content {
      padding-bottom: 50px;
    }

    &__descr {
      margin: 20px 0;
    }
  }

  .reviews-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    &__item {
      &--wide {
        gap: 24px;
      }
    }
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 28px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .filter {
    margin: 0 -15px;

    &__track {
      padding: 0 15px;
    }
  }

  .header {
    &__inner {
      flex-direction: column;
      gap: 0;
      padding-top: 20px;
    }

    &__nav {
      display: none;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    &__contacts {
      flex-grow: 1;
      margin: 0;
    }

    &__burger-wrap {
      display: block;
    }

    &__btns {
      padding: 20px 0;
      width: 100%;
      flex-direction: row;
      gap: 20px;
      &--grey {
        background-color: #fff;
        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }

    &__btns--grey &__social-link {
      border: 1px solid #0b2f38;
    }

    &__call-back {
      margin-bottom: 0;
      order: 1;
      width: 300px;
    }

    &__social {
      flex-grow: 1;
    }
  }
  .top {
    &__title {
      font-size: 32px;
      margin-bottom: 20px;
    }

    &__content {
      padding-top: 50px;
      border-radius: 20px;
    }

    &__btn-wrap {
      max-width: 280px;
    }
  }

  .services {
    &__elem-body {
      flex-direction: column;
    }

    &__elem-content {
      text-align: center;
    }

    &__elem-img {
      width: 100%;
      max-width: 486px;
      margin: 0 auto;
    }

    &__elem-row {
      justify-content: center;
    }
  }

  .projects {
    &__item-btn {
      padding: 15px 95px;
      margin: auto 45px 0 auto;
      width: unset;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__item {
      width: 100%;
    }
  }

  .about {
    &__bot {
      padding: 50px 0;
    }

    &__text {
      font-size: 12px;
    }

    &__bot-title {
      font-size: 28px;
    }
  }

  .certificates {
    padding: 50px 0;
    &__title {
      text-align: center;
    }

    &__list {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .questions {
    padding: 50px 0;
    &__title {
      text-align: center;
    }

    &__item-btn {
      &:after {
        width: 43px;
        height: 40px;
        border-radius: 13px;
      }
    }

    &__item-text {
      padding-right: 0;
    }
  }

  .contacts {
    &--page {
      padding-top: 0;
    }

    &__title {
      text-align: center;
      margin-bottom: 30px;
    }

    &__main {
      display: block;
      padding-bottom: 50px;
    }

    &__map {
      max-width: 600px;
      margin: 0 auto;
    }

    &__info-message {
      margin-top: 0;
    }

    &__info-address {
      margin-top: 0;
    }

    &__info {
      max-width: 600px;
      margin: 20px auto 0;
      text-align: center;
    }

    &__address {
      font-size: 20px;
    }
  }

  .reviews {
    &__item {
      padding: 15px;
      &--big {
        width: 570px;
      }
    }
  }

  .form-popup {
    &__elem {
      padding: 50px 30px;
      max-width: 600px;
    }

    &__title {
      font-size: 28px;
    }
  }

  .services-list {
    &__item {
      min-height: unset;
      display: grid;
      text-align: center;
      &:nth-child(odd) {
        grid-template-columns: 1fr;
      }
      &:nth-child(even) {
        grid-template-columns: 1fr;
      }
    }

    &__pic {
      aspect-ratio: 1 / 1;
      max-width: 500px;
      width: 100%;
      margin: -22px auto 0;
    }

    &__item:nth-child(even) &__pic {
      order: unset;
    }

    &__body {
      padding-top: 0;
    }
  }

  .title-big {
    font-size: 32px;
  }

  .heading-row {
    padding: 30px 0;
    align-items: center;
  }

  .services-form {
    padding: 50px 0;

    &__title {
      text-align: center;
    }

    &__body {
      flex-direction: column;
    }

    &__content {
      padding: 24px 15px;
      border-radius: 0;
      display: flex;
      gap: 24px;
    }

    &__decor {
      margin-right: 0;
    }

    &__text {
      margin-bottom: 0;
    }

    &__elem {
      padding: 0 15px;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .service-page {
    &__top {
      display: grid;
      grid-template-columns: 40fr 60fr;
      grid-template-rows: auto;
      grid-template-areas:
        "a b"
        "c c"
        "d d";
      gap: 0 24px;
    }

    &__img {
      max-width: unset;
      width: 100%;
      grid-area: a;
    }

    &__body {
      display: contents;
    }

    &__content {
      grid-area: b;
      align-self: flex-end;
    }

    &__steps {
      grid-area: c;
    }

    &__btn {
      grid-area: d;
      margin-right: auto;
    }

    &__goods {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__goods-item {
      width: 33%;
      flex-grow: unset;
    }

    &__info-title {
      text-align: center;
    }

    &__info-descr {
      margin-top: 20px;
    }
  }

  .service-form {
    padding: 50px 0;
    &__inner {
      gap: 20px;
      grid-template-columns: 1fr;
    }

    &__info-text {
      text-align: center;
    }

    &__info-list {
      max-width: 500px;
      margin: 20px auto 0;
    }

    &__elem-title {
      text-align: center;
    }

    &__elem {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .request-form {
    background-image: none;

    &__block {
      margin-right: auto;
      text-align: center;
    }

    &__title {
      text-align: center;
    }

    &__top-text {
      margin: 15px 0;
    }

    &__bot-text {
      margin-left: auto;
      margin-right: auto;
    }

    &__policy {
      text-align: left;
    }
  }

  .related-services {
    &__title {
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
    }

    &__list {
      flex-wrap: wrap;
      align-items: center;
    }

    &__item {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .service-prices {
    &__item {
      grid-template-columns: 1fr;
    }

    &__title {
      font-size: 32px;
    }

    &__pic {
      max-width: 600px;
    }

    &__view-descr,
    &__content,
    &__content-price {
      font-size: 16px;
    }
  }

  .news-list {
    gap: 40px 15px;

    &__title {
      font-size: 20px;
    }

    &__descr {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .contacts-form {
    &__elem {
      padding: 50px 40px;
    }

    &__title {
      font-size: 28px;
    }

    &__policy {
      font-size: 14px;
    }

    &__fake {
      width: 20px;
      height: 20px;
    }
  }

  .porfolio-list {
    &__item {
      flex-direction: column;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      padding: 15px;
    }

    &__view {
      margin-right: 0;
      display: contents;
    }

    &__pic {
      order: 1;
      width: 100%;
      margin: 0 auto 24px;
    }

    &__img {
      border-radius: 9px;
    }

    &__body {
      order: 2;
      margin-right: 0;
      max-width: 500px;
      margin: 0 auto 24px;
      text-align: center;
    }

    &__service {
      justify-content: center;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      display: none;
    }

    &__view-btn {
      order: 3;
      max-width: 500px;
      margin: 0 auto 20px;
    }
  }

  .about-top {
    &__top-text {
      font-size: 36px;
    }

    &__red-text {
      font-size: 24px;
      margin: 15px 0 0;
    }
  }

  .team {
    padding-top: 50px;

    &__list {
      margin-top: 30px;
      grid-template-columns: 1fr 1fr;
    }

    &__list-title {
      font-size: 28px;
      margin: 15px 0;
    }

    &__list-descr {
      font-size: 16px;
    }
  }

  .porfolio-item {
    &__top-title,
    &__descr {
      font-size: 28px;
    }

    &__content {
      font-size: 18px;
    }
  }

  .new-page {
    margin-bottom: 50px;
    &__descr {
      font-size: 24px;
      margin-bottom: 15px;
    }

    &__related {
      margin-bottom: 20px;
    }

    &__content {
      margin: 20px 0;
    }
  }

  .reviews-form {
    padding: 50px 0;

    &__elem {
      flex-direction: column;
      margin-top: 50px;
    }

    &__textarea {
      min-height: 200px;
    }
  }

  .service-explanation {
    padding: 50px 0;

    &__items {
      gap: 50px;
    }
  }

  .service-plan {
    padding: 50px 0;
    &__items {
      grid-template-columns: 1fr;
    }

    &__item {
      &--big {
        grid-column: unset;
      }
    }
  }
}

@media (max-width: 750px) {
  .reviews-list {
    grid-template-columns: 1fr;
    gap: 24px;

    &__item {
      gap: 0px;

      &--wide {
        grid-column: unset;
      }

      &--tall {
        grid-row: unset;
      }

      &--row {
        flex-direction: column;
      }
    }

    &__block {
      &--hulf {
        width: unset;
      }
    }

    &__content {
      display: contents;
    }

    &__text {
      margin-bottom: 0;
      order: 1;
      font-size: 18px;
      margin-bottom: 24px;
    }

    &__media {
      order: 2;
      width: 100%;
      gap: 0 17px;
    }

    &__media-img {
      width: calc((100% - 17px) / 2);
      margin-bottom: 24px;
    }

    &__media.reviews-list__block--hulf {
      justify-content: flex-start;
    }

    &__info {
      order: 3;
    }

    &__service {
      margin: 10px 0;
    }

    &__rating {
      width: 100%;
    }
  }

  .service-explanation {
    &__title {
      font-size: 24px;
    }

    &__list {
      margin-top: 24px;
      padding-left: 1.3em;
    }

    &__list-elem {
      padding: 10px 0 8px;
      font-size: 18px;
    }

    &__descr {
      font-size: 18px;
      padding: 24px;
      border-radius: 24px;
    }
  }
}

@media (max-width: 600px) {
  .filter {
    &__btn {
      padding: 10px 15px;
      font-size: 16px;
      border-radius: 20px;
    }
  }

  .header {
    &__contacts {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 15px 20px;
    }

    &__contacts .logo {
      grid-row: 1 / 3;
    }

    &__contacts-link {
      grid-column: 2 / 3;
      text-align: center;
    }

    &__btns {
      flex-direction: column;
    }

    &__call-back {
      width: 100%;
    }

    &__social {
      justify-content: space-between;
    }

    &__burger-wrap {
      width: 113px;
    }

    &__burger {
      margin-left: auto;
    }
  }

  .top {
    &__title {
      font-size: 24px;
      margin-bottom: 0;
    }

    &__content {
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 25px;
    }

    &__btns {
      flex-direction: column;
    }

    &__bot {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 0;
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &__btn-wrap {
      max-width: unset;
    }

    &__btn-service {
      margin-top: 0;
    }
  }

  .footer {
    padding: 50px 0;

    &__inner {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &__info {
      margin-right: 0;
      text-align: center;
    }

    &__social {
      justify-content: center;
    }

    &__services {
      text-align: center;
    }

    &__scroll-up {
      margin-left: 0;
    }
  }

  .steps {
    &__descr {
      font-size: 18px;
    }
  }

  .services {
    &__elem-row {
      flex-direction: column;
    }

    &__elem-btn {
      width: 100%;
      max-width: unset;
    }

    &__btn {
      font-size: 18px;
    }

    &__elem-body {
      gap: 0;
    }

    &__elem-content {
      font-size: 16px;
      gap: 0;
    }
  }

  .projects {
    &__title {
      text-align: center;
    }

    &__item-btn {
      margin: 0 24px;
      padding: 15px;
      width: calc(100% - 48px);
      text-align: center;
    }

    &__item-service {
      margin-left: 15px;
      margin-right: 15px;
    }

    &__item-title {
      margin-left: 15px;
      margin-right: 15px;
    }

    &__item-descr {
      margin-left: 15px;
      margin-right: 15px;
    }

    &__top {
      flex-direction: column;
    }

    &__btns {
      margin-left: 0;
      justify-content: space-between;
    }
  }

  .about {
    &__body {
      margin-top: 0;
    }

    &__experience-item {
      &:nth-child(4n + 1),
      &:nth-child(4n + 4) {
        width: 100%;
      }

      &:nth-child(4n + 2),
      &:nth-child(4n + 3) {
        width: 100%;
      }
    }

    &__policy {
      font-size: 14px;
    }

    &__checkbox-fake {
      width: 20px;
      height: 20px;
    }
  }

  .certificates {
    &__list {
      grid-template-columns: 1fr;
    }

    &__slider {
      padding-top: 0;
      padding-bottom: 74px;
    }

    &__slider-next,
    &__slider-prev {
      top: unset;
      bottom: 0;
    }

    &__slider-next {
      left: calc(50% + 5px);
    }

    &__slider-prev {
      right: calc(50% + 5px);
    }

    &__slider-slide {
      max-width: calc(100% - 50px);
    }
  }

  .questions {
    &__item-btn {
      font-size: 18px;
      &:after {
        width: 33px;
        height: 30px;
        border-radius: 7px;
      }
    }

    &__item-text {
      font-size: 16px;
    }
  }

  .reviews {
    padding-top: 50px;

    &__top {
      flex-direction: column;
      text-align: center;
    }

    &__btns {
      width: 100%;
      justify-content: space-between;
    }

    &__btn-next,
    &__btn-prev {
      &.swiper-button-disabled {
        opacity: 0.3;
      }
    }

    &__list {
      margin-top: 20px;
    }

    &__item {
      padding: 15px;
      max-width: 100%;

      &:not(.swiper-slide-active) {
        opacity: 0.3;
      }

      &--big {
        width: 100%;
        flex-direction: column;
      }
    }

    &__item--big &__item-content {
      display: contents;
    }

    &__item--big &__item-content {
      display: contents;
    }

    &__item-title {
      order: 1;
    }

    &__item-decors {
      margin-left: 0;
      margin-bottom: 20px;
    }

    &__btn-send {
      max-width: unset;
      position: relative;
      z-index: 1;
    }
  }

  .form-popup {
    padding: 55px 15px;

    &__elem {
      margin-top: 20px;
      padding: 40px 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__policy {
      font-size: 14px;
    }

    &__close {
      top: 10px;
      right: 15px;
      width: 35px;
      height: 35px;
    }

    &__fake {
      width: 20px;
      height: 20px;
    }
  }

  .popup-video {
    &__close {
      top: 10px;
      right: 15px;
      width: 35px;
      height: 35px;
    }
  }

  .services-list {
    padding-top: 30px;
    gap: 50px;

    &__item {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__btns-row {
      flex-direction: column;
    }
  }

  .title-big {
    font-size: 24px;
  }

  .heading-row {
    gap: 15px;
    padding-bottom: 20px;
    padding-top: 20px;

    &__btn {
      width: 43px;
      height: 40px;
      border-radius: 13px;
    }
  }

  .services-form {
    padding-top: 20px;

    &__title {
      font-size: 20px;
    }

    &__body {
      margin-top: 20px;
    }

    &__text {
      font-size: 16px;
    }

    &__decor {
      display: none;
    }

    &__policy {
      font-size: 14px;
    }

    &__checkbox-fake {
      width: 20px;
      height: 20px;
    }
  }

  .service-page {
    &__top {
      grid-template-areas: none;
      grid-template-columns: 1fr;
    }

    &__img {
      grid-area: unset;
    }

    &__content {
      grid-area: unset;
    }

    &__steps {
      grid-area: unset;
    }

    &__btn {
      grid-area: unset;
    }

    &__goods {
      justify-content: flex-start;
    }

    &__goods-item {
      width: 50%;
    }

    &__goods-text {
      justify-content: flex-start;
    }

    &__bot-list {
      font-size: 18px;
      padding: 15px 15px 15px 35px;
    }
  }

  .service-stages {
    &__item {
      min-width: 50%;
    }
  }

  .service-form {
    &__info-text {
      font-size: 18px;
    }

    &__info-elem {
      margin: 0;
    }

    &__elem-title {
      font-size: 24px;
      margin-top: 24px;
    }

    &__elem-input {
      padding: 15px 27px;
    }
  }

  .request-form {
    &__top-text {
      font-size: 18px;
    }

    &__bot-text {
      font-size: 18px;
    }

    &__policy {
      font-size: 14px;
    }

    &__checkbox-fake {
      width: 20px;
      height: 20px;
    }
  }

  .service-certificates {
    &__btn-next,
    &__btn-prev {
      top: 0;
      width: 55px;
      height: 45px;
      border-radius: 15px;
    }

    &__btn-prev {
      right: 80px;
    }

    &__slider {
      padding-top: 60px;
    }
  }

  .related-services {
    &__title {
      font-size: 24px;
    }
  }

  .service-prices {
    &__title {
      font-size: 24px;
    }

    &__pic {
      max-width: 600px;
    }
  }

  .news-list {
    grid-template-columns: 1fr;

    &__title {
      font-size: 20px;
    }
  }

  .contacts {
    &__address {
      font-size: 16px;
    }
  }

  .contacts-form {
    &__elem {
      padding: 50px 20px;
      margin-top: 20px;
    }

    &__title {
      font-size: 24px;
    }
  }

  .about-top {
    &__top-text {
      font-size: 24px;
    }

    &__red-text {
      font-size: 18px;
      margin: 15px 0 0;
    }

    &__content {
      font-size: 16px;
    }
  }

  .results {
    &__title {
      font-size: 28px;
    }

    &__list-text {
      font-size: 16px;
    }
  }

  .team {
    &__list {
      grid-template-columns: 1fr;
    }
  }

  .porfolio-item {
    &__top-title,
    &__descr {
      font-size: 24px;
    }

    &__top-num {
      font-size: 24px;
    }

    &__content {
      font-size: 16px;
    }
  }

  .new-page {
    &__descr {
      font-size: 18px;
    }

    &__related {
      margin-bottom: 15px;
    }

    &__content {
      margin: 15px 0;
      font-size: 16px;
    }
    &__gallery {
      grid-template-columns: 1fr;
    }
  }

  .reviews-list {
    &__item {
      padding: 15px;
      border-radius: 15px;
    }

    &__media-img,
    &__block--hulf &__media-img {
      max-width: 450px;
      width: 100%;
    }

    &__text {
      font-size: 16px;
    }
  }

  .reviews-form {
    &__elem {
      margin-top: 30px;
    }

    &__textarea {
      min-height: 300px;
    }

    &__wrap-choices {
      margin-bottom: 24px;
    }

    &__star-icon {
      width: 50px;
      height: 50px;
    }

    &__btn-submit {
      max-width: unset;
      margin-top: 24px;
    }

    &__policy {
      font-size: 14px;
    }

    &__fake {
      width: 20px;
      height: 20px;
    }

    &__label-file {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }

  .service-explanation {
    &__items {
      gap: 24px;
    }

    &__title {
      font-size: 20px;
    }

    &__list-elem {
      font-size: 16px;
    }

    &__descr {
      border-radius: 16px;
    }
  }

  .service-plan {
    &__title {
      font-size: 18px;
    }

    &__items {
    }

    &__item {
      border-radius: 24px;
      padding: 24px;
    }
  }
}

@media (max-width: 450px) {
  .header {
    &__links {
      gap: 10px;
    }

    &__links .logo {
      width: 100px;
    }

    &__links .logo img {
      max-width: 100%;
    }

    &__burger-wrap {
      width: unset;
    }

    &__contacts {
      gap: 10px;
      grid-template-columns: 1fr auto;
    }

    &__contacts-link {
      text-align: right;
      font-size: 14px;
    }

    &__social {
      gap: 10px;
    }
  }

  .top {
    &__title {
      font-size: 18px;
    }
  }

  .certificates {
    &__slider-slide {
      max-width: calc(100% - 20px);
    }
  }

  .form-popup {
    &__elem {
      padding: 40px 15px;
    }

    &__input {
      padding: 15px 27px;
    }

    &__policy {
      font-size: 12px;
    }
  }

  .services-form {
    &__title {
      font-size: 18px;
    }
  }

  .title-big {
    font-size: 20px;
  }

  .service-stages {
    &__item {
      width: 100%;
    }
  }

  .service-form {
    &__info-list {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .related-services {
    &__title {
      font-size: 20px;
    }
  }

  .service-prices {
    &__title {
      font-size: 18px;
    }
  }

  .news-list {
    &__title {
      font-size: 18px;
    }
  }

  .contacts-form {
    &__elem {
      padding: 35px 15px;
      margin-top: 20px;
      border-radius: 20px;
    }

    &__input {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &__policy {
      font-size: 12px;
    }
  }

  .porfolio-item {
    &__top-list {
      margin-top: 20px;
      gap: 15px;
    }

    &__top-text {
      width: 100%;
      padding: 0;
    }

    &__top-num {
      color: #c10;
    }
  }

  .reviews-form {
    &__elem {
      margin-top: 20px;
    }

    &__wrap-choices {
      margin-bottom: 24px;
    }

    &__rating {
      gap: 10px;
    }

    &__star-icon {
      width: 30px;
      height: 30px;
    }
  }

  .service-explanation {
    &__title {
      font-size: 18px;
      text-align: center;
    }

    &__descr {
      padding: 15px;
      border-radius: 15px;
    }
  }
}
