@use "mixin";

.projects {
  padding: 100px 0;

  &--service {
    background-color: #0b2f38;
  }

  &__top {
    display: flex;
    gap: 15px;
  }

  &__title {
    color: #cc1100;
  }

  &--service &__title {
    color: #fff;
  }

  &__btn {
    width: 53px;
    height: 50px;
    display: block;
    padding: 0;
    border: 1px solid #c2c2c2;
    background-color: transparent;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icons/arrow-right.svg");
    margin-left: auto;
  }

  &__filter {
    list-style: none;
    padding-left: 0;
    margin: 30px 0 0px;
    display: flex;
    gap: 20px 29px;
    flex-wrap: wrap;
  }

  &__filter-btn {
    @include mixin.roboto-flex;
    font-weight: 400;
    font-size: 18px;
    padding: 13px 27px;
    background-color: transparent;
    border: 1px solid #cc1100;
    border-radius: 42px;
    color: #cc1100;

    &:focus-visible {
      outline-offset: 2px;
      outline: 1px solid #cc1100;
    }

    &.active,
    &:hover {
      background-color: #cc1100;
      color: #fff;
    }
  }

  &__list {
    margin-top: 54px;
    display: flex;
    flex-wrap: wrap;
    gap: 34px 29px;
  }

  &__item {
    width: calc((100% - 29px) / 2);
    background-color: #efedec;
    border-radius: 55px;
    padding: 15px 0 22px;
    @include mixin.roboto-flex;
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }

  &__item-pic {
    aspect-ratio: 555 / 264;
    position: relative;
    margin: 0px 15px 19px;
    max-width: 100%;
  }

  &__item-img {
    display: block;
    border-radius: 45px 45px 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__item-service {
    color: #b3b3b3;
    margin: 0 24px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
  }

  &__item-title {
    font-family: "Wadik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0 24px 12px;
    color: #cc1100;
  }

  &__item-descr {
    margin: 0 24px 0;
  }

  &__item-btn {
    @include mixin.roboto-flex;
    font-weight: 600;
    display: block;
    text-decoration: none;
    background-color: #0b2f38;
    border: 1px solid #0b2f38;
    color: #fff;
    padding: 15px 95px;
    align-self: flex-end;
    border-radius: 45px;
    margin: auto 45px 0 auto;

    &:hover {
      background-color: #fff;
      color: #0b2f38;
    }

    &:focus-visible {
      outline-offset: 2px;
      outline: 1px solid #0b2f38;
    }
  }
}
