@use "mixin";

.reviews-form {
  padding: 90px 0;
  background-color: #efedec;

  &__title {
    color: #0b2f38;
  }

  &__elem {
    margin-top: 70px;
    display: flex;
    gap: 20px;
  }

  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    width: 100%;
    resize: none;
    min-height: 377px;
    border-radius: 28px;
    background-color: #fff;
    color: #000;
    border: none;
    box-shadow: 0px 3px 30px 5px rgba(#000, 15%);
    padding: 24px;
    &:focus-visible {
      outline-offset: 3px;
      outline: 2px solid #fff;
    }
  }

  &__label-file {
    padding: 20px 28px 0;
    color: #0b2f38;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }

  &__file-preview {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__file-img,
  &__file-video {
    width: 120px;
    border-radius: 8px;
  }

  &__file-video {
    aspect-ratio: 1 / 1;
    background-color: #fff;
    background-image: url("../img/icons/play-video.svg");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }

  &__input {
    border: 1px solid #fff;
    padding: 20px 27px;
    border-radius: 35px;
    background-color: transparent;
    color: #000;
    @include mixin.roboto-flex;
    font-weight: 500;
    margin-bottom: 15px;

    &::placeholder {
      color: #c2c2c2;
    }

    &:focus {
      outline: 1px solid #fff;
      outline-offset: 2px;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: #000 !important;
      transition: background-color 9999s ease-out, color 9999s ease-out;
    }
  }

  &__btn-submit {
    max-width: 330px;
    margin-left: auto;
    margin-top: 60px;
  }

  &__policy {
    @include mixin.roboto-flex;
    font-weight: 500;
    margin: 0;
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: #c2c2c2;
    margin-top: 15px;
  }

  &__checkbox,
  &__input-file {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  &__fake {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid #cc1100;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
  }

  &__checkbox:checked + &__fake {
    background-color: #cc1100;
    background-image: url("../img/icons/check.svg");
  }

  &__checkbox:focus + &__fake {
    outline-offset: 2px;
    outline: 1px solid #fff;
  }

  &__wrap-choices {
    margin-bottom: 39px;

    & .choices {
      margin-bottom: 0;
    }

    & .choices__inner {
      border: 1px solid #fff;
      padding: 20px 27px !important;
      border-radius: 35px;
      background-color: #efedec;
      color: #000;
      @include mixin.roboto-flex;
      font-weight: 500;
      font-size: 16px;
    }

    & .choices.is-open .choices__inner {
      border-radius: 35px 35px 0 0;
    }

    & .choices.is-flipped .choices__inner {
      border-radius: 0 0 35px 35px;
    }

    & .choices__list--single {
      padding: 0;
    }

    & .choices__list--dropdown {
      background-color: #efedec;
      border: 1px solid #fff !important;
      border-radius: 0 0 35px 35px;
    }

    & .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
      padding: 20px 27px;
    }

    & .choices__placeholder {
      opacity: 1;
      color: #c2c2c2;
    }
  }

  &__service-choices:not(.choices__input) {
    visibility: hidden;
  }

  &__wrap-rating {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__legend-rating {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  &__rating {
    display: flex;
    gap: 16px;
  }

  &__star {
    cursor: pointer;
  }

  &__star-text {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  &__star-icon {
    display: block;
  }

  &__star-input:focus-visible ~ &__star-icon {
    outline: 2px solid #ffe54e;
  }

  &__star-icon {
    color: transparent;
  }

  &__star--filled &__star-icon {
    color: #ffe54e;
  }
}
