.service-prices {
  padding: 30px 0 75px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  &__pic {
    position: relative;
  }

  &__img {
    border-radius: 25px;
    width: 100%;
  }

  &__title {
    margin: 0;
    position: absolute;
    top: 22px;
    left: 0;
    font-family: "Wadik", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    padding: 0 24px;
  }

  &__view-descr {
    margin-top: 22px;
    font-size: 18px;
  }

  &__content {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }

  &__content-descr {
    margin: 0;
  }

  &__content-list {
    margin: 24px 0;
    padding-left: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__content-item {
    padding-bottom: 12px;
    border-bottom: 1px solid #d9d9d9;
  }

  &__content-price {
    margin: auto 0 20px;
    font-family: "Wadik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #cc1100;
  }
}
