@use "mixin";

.top {
  &__decor {
    margin: 0 -20px;
    position: relative;
  }

  &__content {
    margin-top: 20px;
    --bg-photo: url("../img/top-bg-photo.jpg");
    background-color: #d9d9d9;
    padding: 65px 20px 0;
    border-radius: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)),
      var(--bg-photo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    font-family: "Wadik", sans-serif;
    font-weight: bold;
    margin: 0 0 62px;
    position: relative;
    font-size: 47px;
  }

  &__btns {
    display: flex;
    gap: 16px;
  }

  &__bot {
    position: relative;
    flex-grow: 1;
    border-radius: 0 0 20px 20px;
    padding: 40px 20px 20px;
  }

  &__btn-wrap {
    max-width: 315px;
    width: 100%;
    background-color: #fff;
    position: relative;
  }

  &__btn-service {
    position: relative;
    z-index: 2;
    margin-top: 19px;
  }

  &__btn-colsunctation {
    padding: 0;
    border: none;
    text-decoration: underline;
    color: #cc1100;
    background-color: transparent;
    @include mixin.roboto-flex;
    font-size: 16px;

    &:focus-visible {
      outline-offset: 2px;
      outline: 1px solid #cc1100;
    }
  }

  &__list {
    padding: 12px 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    text-align: center;
  }

  &__list-img {
    height: 100px;
    width: auto;
    object-fit: contain;
    object-position: top center;
    filter: drop-shadow(0 3px 6px rgba(203, 96, 21, 0.4));
  }

  &__list-title {
    font-family: "Wadik", sans-serif;
    font-weight: bold;
    margin: 0;
    color: #0b2f38;
    min-height: 2.6em;
  }

  &__list-descr {
    @include mixin.roboto-flex;
    margin: 10px 0 0;
  }

  &__steps {
    padding-bottom: 33px;
  }
}